.user-card {
    width: 250px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #4338ca;
}

.user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info h3 {
    margin: 0;
    font-size: 16px;
}

.user-info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #555;
}